section.channel
  .container.channel__container
    h2.title.channel__title channel
    p.subtitle.channel__subtitle
      | vastly improved treatments and increased social
    a.channel__link.channel__video(href="#")
      img(src=require("../img/video-bg.png"), alt="Video Preview")
    button.button.button--color.channel__btn(type="button") more video


