section.contact
  .container.contact__container
    h2.title.contact__title contact
    p.subtitle.contact__subtitle
      | Vastly improved treatments and increased social
    ul.contacts.contact__list
      li.contacts__item
        svg.contacts__icon
          use(xlink:href="#ic_contact_place")
        p.contacts__caption address
        p.contacts__info 27 Ba Trieu St. Hue, Vietnam
      li.contacts__item
        svg.contacts__icon
          use(xlink:href="#ic_contact_phone")
        p.contacts__caption address
        a.contacts__link.contacts__info(href="tel:+84906582752") +84 90 658 2725
      li.contacts__item
        svg.contacts__icon
          use(xlink:href="#ic_contact_mail")
        p.contacts__caption email contact
        a.contacts__link.contacts__info(href="mailto:junoteamvn@gmail.com") junoteamvn@gmail.com
