footer.main-footer
  nav.site-nav.main-footer__nav
    a.site-nav__link(href="#") home
    a.site-nav__link(href="#") service
    a.site-nav__link(href="#") gallery
    a.site-nav__link(href="#") channel
    a.site-nav__link(href="#") blog
    a.site-nav__link(href="#") team
    a.site-nav__link(href="#") contact
  a.logo.main-footer__logo(href="#")
    img.logo__img(src=require("../img/logo.png"), alt="Logo")
  ul.footer-social
    li.footer-social__item
      a.footer-social__link(href="#") facebook
    li.footer-social__item
      a.footer-social__link(href="#") instagram
    li.footer-social__item
      a.footer-social__link(href="#") youtube


