section.gallery
  .container.gallery__container
    .post.gallery__post
      svg.icon.post__icon
        use(xlink:href="#ic_arrow-left")
      .post__container
        span.post__date sep 24
        p.post__text
          | Have you ever wondered if what you know
          | about herbal breast enlargement is accurate?
          | Consider the following paragraphs and compare
          | what you know to the latest info on herbal
          | breast enlargement. Women are often not happy
          | with their breast size...
      svg.icon.post__icon
        use(xlink:href="#ic_arrow-right")
