header.main-header
  .container.main-header__container
    .main-header__top
      .contacts
        a.contacts__link(href="tel:+84906582725") +84 90 658 2728
        address.contacts__address 27 Ba Trieu St, Vietnam
      .socials
        a.socials__link(href="#") TW
        a.socials__link(href="#") FB
        a.socials__link(href="#") YT
        a.socials__link(href="#") IN
        a.socials__link(href="#") HZ
    .main-header__bottom
      a.logo.main-header__logo(href="#")
        img.logo__img(src=require("../img/logo.png"), alt="Logo")
      nav.site-nav.main-header__nav
        a.site-nav__link(href="#") home
        a.site-nav__link(href="#") service
        a.site-nav__link(href="#") gallery
        a.site-nav__link(href="#") channel
        a.site-nav__link(href="#") blog
        a.site-nav__link(href="#") team
        a.site-nav__link(href="#") contact
    .main-header__content
      h1.main-header__title
        | it's
        span.main-header__title--color fun
        | to make things up
      p.main-header__subtitle
        | have you ever wondered if what you know
        | about herbal breast englargements is accurate?
      .main-header__btn-wrapper
        button.button.main-header__btn(type="button") about us
        button.button.button--color.main-header__btn(type="button") > watch video

