section.our-services
  .container.our-services__container
    h2.title.our-services__title
      | our services
    p.subtitle.our-services__subtitle
      | Vastly improved treatments and increased social
      | acceptance has to cosmetic
    ul.services.our-services__list
      li.services__item
        a.services__link
          svg.icon.services__icon
            use(xlink:href="#ic_service_document")
          | about
      li.services__item
        a.services__link
          svg.icon.services__icon
            use(xlink:href="#ic_service_heart")
          | wedding
      li.services__item
        a.services__link
          svg.icon.services__icon
            use(xlink:href="#ic_service_cake")
          | party
      li.services__item
        a.services__link
          svg.icon.services__icon
            use(xlink:href="#ic_service_shop-bag")
          | beauty box
      li.services__item
        a.services__link
          svg.icon.services__icon
            use(xlink:href="#ic_service_notebook")
          | course
    .about-service.our-service__info
      img(src=require("../img/our-services.png"), alt="Woman with flowers")
      h3.about-service__caption
        | to keep makeup looking fresh
        br
        | take a powder
      p.about-service__description
        | Hydroderm is the highly desired anti-aging
        | cream on the block. This serum restricts the
        | occurrence of early aging sings on the skin and
        | keeps the skin younger, tighter and healthier.
      a.about-service__link learn mone
