html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title POSH site
  body
    include sprite.svg
    include pug/_mixin.pug
    include pug/header.pug
    include pug/our-services.pug
    include pug/gallery.pug
    include pug/channel.pug
    include pug/blog.pug
    include pug/contact.pug
    include pug/footer.pug
