@import "./global";

body {
  padding: 0;
  margin: 0;
}

.main-header {
  &__title {
    font-size: 64px;
  }
  &__subtitle {
    font-size: 16px;
  }
}

.title {
  font-size: 48px;
}

.subtitle {
  font-size: 16px;
}

.icon {
  height: 40px;
}

.services {
  list-style: none;
}
